<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @welcome.title %>
</p>

<p>
  <strong>Logoimg:</strong>
  <%= @welcome.logoimg %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @welcome.desc %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @welcome.whatsapp %>
</p>

<p>
  <strong>Ig:</strong>
  <%= @welcome.ig %>
</p>

<p>
  <strong>Ln:</strong>
  <%= @welcome.ln %>
</p>

<p>
  <strong>Section:</strong>
  <%= @welcome.section %>
</p>

<p>
  <strong>Link:</strong>
  <%= @welcome.link %>
</p>

<p>
  <strong>Footer:</strong>
  <%= @welcome.footer %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @welcome.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @welcome.address %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @welcome.twitter %>
</p>

<p>
  <strong>Email:</strong>
  <%= @welcome.email %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @welcome.youtube %>
</p>

<p>
  <strong>Telegram:</strong>
  <%= @welcome.telegram %>
</p>

<%= link_to 'Edit', edit_welcome_path(@welcome) %> |
<%= link_to 'Back', welcomes_path %>
