<p id="notice"><%= notice %></p>

<p>
  <strong>Wallet:</strong>
  <%= @account.wallet_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @account.password %>
</p>

<p>
  <strong>P1:</strong>
  <%= @account.p1 %>
</p>

<p>
  <strong>P2:</strong>
  <%= @account.p2 %>
</p>

<p>
  <strong>P3:</strong>
  <%= @account.p3 %>
</p>

<p>
  <strong>P4:</strong>
  <%= @account.p4 %>
</p>

<p>
  <strong>P5:</strong>
  <%= @account.p5 %>
</p>

<p>
  <strong>P6:</strong>
  <%= @account.p6 %>
</p>

<p>
  <strong>P7:</strong>
  <%= @account.p7 %>
</p>

<p>
  <strong>P8:</strong>
  <%= @account.p8 %>
</p>

<p>
  <strong>P9:</strong>
  <%= @account.p9 %>
</p>

<p>
  <strong>P10:</strong>
  <%= @account.p10 %>
</p>

<p>
  <strong>P11:</strong>
  <%= @account.p11 %>
</p>

<p>
  <strong>P12:</strong>
  <%= @account.p12 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @account.phone %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
